html,
body {
  color: #707070;
  height: 100%;
  width: 100%;
  margin: 0;
}

.navbar {
  background-color: #fcc01b !important;
}

nav .navbar-nav li a {
  color: white !important;
}

/* remove border */
.navbar-light .navbar-toggler {
  border: 0;
}

/* remove border when clicked */
button.navbar-toggler:focus {
  outline: 1px none;
}

.myHero {
  width: 90%; /* with margin below */
  margin: 0 auto; /*center section*/
  padding-top: 4em;
  text-align: center; /* this aligns all images and text in div */
  padding-bottom: 8em;
}

.myInfoContainer {
  background-color: #f7bd1b;
}

.myInfoTopImg {
  display: block;
  width: 100%;
  position: relative;
  top: 1em;
}

.myInfo {
  width: 90%; /* with margin below */
  margin: 0 auto; /*center section*/
  padding-top: 4em;
  text-align: center; /* this aligns all images and text in div */
}

footer a {
  color: white;
}

footer a:visited {
  color: white;
}

/*--- Media Queries --*/
/*--- mobile first! --*/
@media (min-width: 993px) {
  .myNavLogo {
    width: 12em;
  }

  nav .navbar-nav li a {
    font-size: 17px;
  }

  .myHero {
    width: 95%; /* with margin below */
    margin: 0 auto; /*center section*/
    padding-top: 2em;
    text-align: center; /* this aligns all images and text in div */
  }

  .myHeroImage {
    width: 477px;
    margin: 0 auto; /*center section*/
    padding-top: 7em;
  }

  .myHeroDown {
    width: 47px;
    padding-left: 20px;
    margin: 0 auto; /*center section*/
    padding-top: 4em;
  }

  .myHeroText {
    text-transform: uppercase;
    font-size: 37px;
    font-weight: 650;
    letter-spacing: 1.77px;
    padding-top: 1em;
  }

  .myHeroSubText {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.77px;
    padding-top: 0.77em;
  }

  .myInfoTopImg {
    display: block;
    width: 100%;
    position: relative;
    top: 1em;
  }

  .myInfoBotImg {
    display: block;
    width: 100%;
    position: relative;
    top: -1em;
    transform: rotate(180deg);
  }

  .myInfo {
    width: 80%; /* with margin below */
    margin: 0 auto; /*center section*/
    padding-top: 15em;
    text-align: center; /* this aligns all images and text in div */
    padding-bottom: 7em;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 6em;
  }

  .myInfoImg {
    width: 177px;
    padding-bottom: 2em;
  }

  .Cup {
    width: 247px;
    padding-left: 40px;
  }

  .Heart {
    padding-top: 30px;
  }

  .Earth {
    padding-top: 25px;
  }

  .myInfo p {
    color: white;
    padding-bottom: 5em;
    font-size: 27px;
  }

  .myEmailList {
    width: 70%; /* with margin below */
    margin: 0 auto; /*center section*/
    padding-top: 4em;
    text-align: center; /* this aligns all images and text in div */
    padding-bottom: 0em;
  }

  .myEmailList h1 {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 650;
    letter-spacing: 1.77px;
    line-height: 50px;
    padding-top: 1em;
    position: relative;
    top: 1.5em;
  }

  .myEmailListContainer img {
    width: 100%;
  }

  .myEmailList button {
    margin-top: 1em;
    position: relative;
    top: 1.5em;
    z-index: 1;
    font-size: 26px;
    padding-bottom: 0.4em;
  }

  footer {
    margin: 0 auto; /*center section*/
    padding-top: 4em;
    text-align: center; /* this aligns all images and text in div */
    padding-bottom: 4em;
    background-color: #3d3d3d;
    color: white;
    font-size: 17px;
  }

  footer hr {
    border-color: white;
    width: 70%;
  }
}

@media (max-width: 992px) {
  .myNavLogo {
    width: 17em;
  }

  nav .navbar-nav li a {
    font-size: 27px;
  }

  .myHero {
    width: 95%; /* with margin below */
    margin: 0 auto; /*center section*/
    padding-top: 7em;
    text-align: center; /* this aligns all images and text in div */
  }

  .myHeroImage {
    width: 477px;
    margin: 0 auto; /*center section*/
    padding-top: 14em;
  }

  .myHeroDown {
    width: 47px;
    margin: 0 auto; /*center section*/
    padding-top: 11em;
  }

  .myHeroText {
    text-transform: uppercase;
    font-size: 37px;
    font-weight: 650;
    letter-spacing: 1.77px;
    padding-top: 1.2em;
  }

  .myHeroSubText {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.77px;
    padding-top: 0.97em;
  }

  .myInfoTopImg {
    display: block;
    width: 100%;
    position: relative;
    top: 1em;
  }

  .myInfoBotImg {
    display: block;
    width: 100%;
    position: relative;
    top: -1em;
    transform: rotate(180deg);
  }

  .myInfo {
    width: 80%; /* with margin below */
    margin: 0 auto; /*center section*/
    padding-top: 15em;
    text-align: center; /* this aligns all images and text in div */
    padding-bottom: 9em;
  }

  .myInfoImg {
    width: 177px;
    padding-bottom: 2em;
  }

  .Cup {
    width: 247px;
    padding-left: 40px;
  }

  .myInfo p {
    color: white;
    padding-bottom: 5em;
    font-size: 37px;
  }

  .myEmailList {
    width: 80%; /* with margin below */
    margin: 0 auto; /*center section*/
    padding-top: 12em;
    text-align: center; /* this aligns all images and text in div */
    padding-bottom: 0em;
  }

  .myEmailList h1 {
    text-transform: uppercase;
    font-size: 37px;
    font-weight: 650;
    letter-spacing: 1.77px;
    line-height: 70px;
    padding-top: 1em;
  }

  .myEmailListContainer img {
    width: 100%;
    position: relative;
    top: -7em;
  }

  .myEmailList button {
    margin-top: 1em;
    position: relative;
    z-index: 1;
    font-size: 37px;
    padding-bottom: 0.4em;
  }

  footer {
    margin: 0 auto; /*center section*/
    padding-top: 4em;
    text-align: center; /* this aligns all images and text in div */
    padding-bottom: 4em;
    background-color: #3d3d3d;
    color: white;
    font-size: 24px;
  }

  footer hr {
    border-color: white;
    width: 70%;
  }
}

@media (max-width: 768px) {
  .myNavLogo {
    width: 12em;
  }

  nav .navbar-nav li a {
    font-size: 22px;
  }

  .myHero {
    width: 95%; /* with margin below */
    margin: 0 auto; /*center section*/
    padding-top: 7em;
    text-align: center; /* this aligns all images and text in div */
  }

  .myHeroImage {
    width: 377px;
    margin: 0 auto; /*center section*/
    padding-top: 8em;
  }

  .myHeroDown {
    width: 37px;
    margin: 0 auto; /*center section*/
    padding-top: 11em;
  }

  .myHeroText {
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 650;
    letter-spacing: 1.77px;
    padding-top: 1.2em;
  }

  .myHeroSubText {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.77px;
    padding-top: 0.77em;
  }

  .myInfoTopImg {
    display: block;
    width: 100%;
    position: relative;
    top: 1em;
  }

  .myInfoBotImg {
    display: block;
    width: 100%;
    position: relative;
    top: -1em;
    transform: rotate(180deg);
  }

  .myInfo {
    width: 70%; /* with margin below */
    margin: 0 auto; /*center section*/
    padding-top: 12em;
    text-align: center; /* this aligns all images and text in div */
    padding-bottom: 9em;
  }

  .myInfoImg {
    width: 177px;
    padding-bottom: 2em;
  }

  .Cup {
    width: 247px;
    padding-left: 40px;
  }

  .myInfo p {
    color: white;
    padding-bottom: 4em;
    font-size: 35px;
  }

  .myEmailList {
    width: 80%; /* with margin below */
    margin: 0 auto; /*center section*/
    padding-top: 12em;
    text-align: center; /* this aligns all images and text in div */
    padding-bottom: 0em;
  }

  .myEmailList h1 {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 650;
    letter-spacing: 1.77px;
    line-height: 50px;
    padding-top: 1em;
  }

  .myEmailListContainer img {
    width: 100%;
    position: relative;
    top: -7em;
  }

  .myEmailList button {
    margin-top: 1em;
    position: relative;
    z-index: 1;
    font-size: 32px;
    padding-bottom: 0.5em;
  }

  footer {
    margin: 0 auto; /*center section*/
    padding-top: 4em;
    text-align: center; /* this aligns all images and text in div */
    padding-bottom: 4em;
    background-color: #3d3d3d;
    color: white;
    font-size: 17px;
  }

  footer hr {
    border-color: white;
    width: 70%;
  }
}

@media (max-width: 576px) {
  .myNavLogo {
    width: 18em;
  }

  nav .navbar-nav li a {
    font-size: 15px;
  }

  .myHero {
    width: 95%; /* with margin below */
    margin: 0 auto; /*center section*/
    padding-top: 4em;
    text-align: center; /* this aligns all images and text in div */
  }

  .myHeroImage {
    width: 257px;
    margin: 0 auto; /*center section*/
    padding-top: 4em;
  }

  .myHeroDown {
    width: 25px;
    margin: 0 auto; /*center section*/
    padding-top: 4em;
  }

  .myHeroText {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 650;
    letter-spacing: 0.77px;
    padding-top: 1em;
  }

  .myHeroSubText {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 650;
    letter-spacing: 1.27px;
    padding-top: 0.77em;
  }

  .myInfoTopImg {
    display: block;
    width: 100%;
    position: relative;
    top: 1em;
  }

  .myInfoBotImg {
    display: block;
    width: 100%;
    position: relative;
    top: -1em;
    transform: rotate(180deg);
  }

  .myInfo {
    width: 90%; /* with margin below */
    margin: 0 auto; /*center section*/
    padding-top: 7em;
    text-align: center; /* this aligns all images and text in div */
    padding-bottom: 7em;
  }

  .myInfoImg {
    width: 107px;
    padding-bottom: 1em;
  }

  .Cup {
    width: 147px;
    padding-left: 20px;
  }

  .myInfo p {
    color: white;
    padding-bottom: 4em;
    font-size: 20px;
  }

  .myEmailList {
    width: 90%; /* with margin below */
    margin: 0 auto; /*center section*/
    padding-top: 3em;
    text-align: center; /* this aligns all images and text in div */
    padding-bottom: 0em;
  }

  .myEmailList h1 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 650;
    letter-spacing: 0.77px;
    line-height: 40px;
    padding-top: 1em;
  }

  .myEmailListContainer img {
    width: 100%;
    position: relative;
    top: -4em;
  }

  .myEmailList button {
    margin-top: 1em;
    position: relative;
    z-index: 1;
    font-size: 22px;
    padding-bottom: 0.25em;
  }

  footer {
    margin: 0 auto; /*center section*/
    padding-top: 4em;
    text-align: center; /* this aligns all images and text in div */
    padding-bottom: 4em;
    background-color: #3d3d3d;
    color: white;
  }

  footer hr {
    border-color: white;
    width: 70%;
  }
}

/* Below are the built in Bootstrap breakpoints for screen sizes (responsive layout) */
/* Example md will change the layout at 768px */
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
